body{
    background-image: linear-gradient(red,black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
h1{
    color: rgb(0, 0, 0);
  

}
th{ 
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    
}
td { 
    color: whitesmoke;
    border-style: groove;
    border-color: black;
    border-radius: 50px;
  padding: 10px;

  

}